.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#121212, #212b46);
  position: relative;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background: #fff;
  opacity: 0.8;
  animation: twinkle 7s infinite;
}

@keyframes twinkle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
   
.tittle {
  display: inline-block;
  color: #fff;
  font-size: 85px; 
  animation: fliptittle 4.3s infinite;
  text-transform: uppercase;
  text-shadow: #fff 0px 0px 30px;
  animation-delay: calc(.2s * var(--i))
  
}



@keyframes fliptittle {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
.form {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  margin: 34px 0;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.form input {
  background-color: transparent;
  font-size: 20px;
  border: 0;
  color: #fff;
  outline: none;
  margin-right: 8px;
}

.form input::placeholder {
  color: #ffffff9f;
}

.buttonSearch {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover {
  transform: scale(1.3);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff85;
  width: 450px;
  border-radius: 10px;
  box-shadow: #0000008c 0px 0px 10px;
}


.main h2 {
  color: #000;
  font-size: 39px;
  margin: 16px 0;

}

.main span {
  color: rgba(29, 25, 85, 0.699);
  margin-bottom: 16px;
  font-weight: bold;
}

@media (max-width: 620px) {
  .title {
    font-size: 60px;
  }

  .main h2 {
    font-size: 28px;
  }

  .main {
    width: 80%;
    min-height: 250px;
  }
}
